/* -------------- */

/* MOBILE WEBSITE STYLES */

/* -------------- */

/* colour variables */
body {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #737373;
    --colorH2: #252B42;
    --color4: #FA4A0C;
    --color5: #E4E4E4;
    --color6: #BDBDBD;
}

/* buttons font */
button {
    font-family: "Montserrat", sans-serif;
}

/* text styling */
body {
    text-align: center;
    margin: 0 auto;
}

/* font for website */
html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

/* font styling (sizing and colour) */
h1 {
    font-size: 16px;
    font-weight: bold;
    color: var(--color3);
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--colorH2);
}

h4 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color3)
}

h1, h2, h3, h4, h5, p {
    margin: 0.2em 0 0.5em;
}

/* ------------------- */

/* BODY STYLING */

/* ------------------- */

/* add spacing in body */
body {
    line-height: 1.4;
   
}

/* button styling */

.appstore, .playstore {
    font-size: 24px;
    font-weight: bold;
    color: var(--color4);
    background-color: var(--color2);
    border-color: var(--color4);
    border-radius: 30px;
    width: 236px;
    height: 68px;
    border-style: solid;
}

/* display buttons on top of each other */
.playstore,
.appstore {
    display: block;
    width: 200px;
    margin: 0.8em auto;
}

.playstore:hover,
.appstore:hover {
    color: var(--color2);
    background-color: var(--color4);
    transition: color 0.3s;
    transition: background-color 0.3s;
}

/* first couple of images styling */
.appimages {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.phoneone {
    margin-right: -20px;
    z-index: 1;
    margin-bottom: 50px;
}

.phonetwo {
    top: 50px;
    margin-top: 50px;
}

/* how the app works */
.app-works p {
    font-size: 24px;
    font-weight: 600;
    color: var(--color1);
    padding-bottom: 2em;
}

.app-works hr {
    border-color: var(--color5);
    border-width: 1.5px;
    border-style: solid;
}

/* cards styling */
.card h3 {
    color: var(--color4);
    padding: 2em;
}

.card h4 {
    margin-top: 2em;
}

.card img {
    justify-content: center;
}

/* -------------- */

/* NAV STYLING */

/* -------------- */

/* remove text decoration for items */
*{
    text-decoration: none;
}

.logo img{
    height: 51px;
}

.main-nav{
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

li{
    list-style: none; 
    display: inline-block;
}

li a{
    margin-right: 2em;
    color: var(--colorH2);
    margin-right: 2em;
    transition: color 0.3s;
    font-weight: 600;
}

.burger{
    display: none;
}


li a:hover {
    color: var(--color4);
}


@media(max-width: 600px) {
    .burger{
        display: block;
    }
    .not-burger {
        display: none;
    }
}

/* --------------------------- */

/* DOWNLOAD THE APP NOW SECTION*/

/* ----------------------------- */

/* hiding the website download section */
.desktop-download {
    display: none;
}

/* download the app now section */
.mobile-download {
    background-color: var(--colorH2);
    padding-top: 6em;
    padding-bottom: 6em;
    margin-top: 4em;
}

/* change font color */
.mobile-download h2 {
    color: var(--color2);
}

.mobile-download h4 {
    color: var(--color6);
}

/* styling buttons for buynow and tryfree */
.buynow {
    font-size: 16px;
    font-weight: bold;
    color: var(--color2);
    background-color: transparent;
    border-color: var(--color2);
    border-radius: 10px;
    width: 125px;
    height: 64px;
    border-style: solid;
    margin-right: 10px;
}

.tryfree {
    font-size: 16px;
    font-weight: bold;
    color: var(--color2);
    background-color: transparent;
    border-color: var(--color2);
    border-radius: 10px;
    width: 170px;
    height: 64px;
    border-style: solid;
}

/* display buttons side by side */
.buynow,.tryfree {
    display: inline-block;
    vertical-align: top;
}

/* button hover effect */
.buynow:hover,.tryfree:hover {
    border: none;
    background-color: var(--color4);
    transition: border 0.3s;
    transition: background-color 0.3s;
}

/* add spacing from the left and right for all cards */
.card {
    margin: 1em;
}

/* ------------------- */

/* footer section */

/* ------------------- */

/* hide desktop hiding */
.desktop-footer {
    display: none;
}

/* mobile footer styling */
.mobile-footer {
    padding: 2.5em;
}

/* -------------- */

/* DESKTOP STYLES */

/* -------------- */
