/* -------------- */

/* MOBILE WEBSITE STYLES */

/* -------------- */

/* -------------- */

/* MAIN STYLES */

/* -------------- */

/* colour variables */
body {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #737373;
    --colorH2: #252B42;
    --color4: #FA4A0C;
    --color5: #E4E4E4;
    --color6: #BDBDBD;
    --color7: #FAFAFA;
    --color8: #F6F6F6;
}

/* buttons font */
button {
    font-family: "Montserrat", sans-serif;
}

/* text styling for body*/
body {
    text-align: center;
    margin: 0 auto;
}

/* font for website */
html {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

/* font styling for the h and p (sizing and colour) */
h1 {
    font-size: 16px;
    font-weight: bold;
    color: var(--color3);
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--colorH2);
}

h4 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color3)
}

h1, h2, h3, h4, h5, p {
    margin: 0.2em 0 0.5em;
}

/* ------------------- */

/* BODY STYLING */

/* ------------------- */

/* space on top of card */
.foodapp {
    padding-top: 2em;
}

/* background colour to content */
.content {
    background-color: var(--color7);
}

/* add spacing in body lines */
body {
    line-height: 1.4;
}

/* button styling */
.appstore, .playstore {
    font-size: 24px;
    font-weight: bold;
    color: var(--color4);
    background-color: var(--color2);
    border-color: var(--color4);
    border-radius: 30px;
    width: 236px;
    height: 68px;
    border-style: solid;
}

/* display buttons on top of each other */
.playstore,
.appstore {
    display: block;
    width: 200px;
    margin: 0.8em auto;
}

/* change colour on hover */
.playstore:hover,
.appstore:hover {
    color: var(--color2);
    background-color: var(--color4);
    transition: color 0.3s;
    transition: background-color 0.3s;
}

/* first couple of images styling */
.appimages {
    display: flex;
    justify-content: center;
    padding: 3em;
}

/* first phone styling to be on top of left image and slightly higher */
.phoneone {
    margin-right: -20px;
    z-index: 1;
    margin-bottom: 50px;
}

/* second phone styling to be lower while keeping same image size */
.phonetwo {
    top: 50px;
    margin-top: 50px;
}

/* how the app works styling */
.app-works p {
    font-size: 24px;
    font-weight: 600;
    color: var(--color1);
    padding-bottom: 2em;
}

/* horizontal line styling */
.app-works hr {
    border-color: var(--color5);
    border-width: 1.5px;
    border-style: solid;
}

/* -------------- */

/* CARDS STYLING */

/* -------------- */

/* spacing and colour for h3 */
.card h3 {
    color: var(--color4);
    padding: 2em;
}

/* spacing for h4 */
.card h4 {
    margin-top: 2em;
}

/* center images */
.card img {
    justify-content: center;
}

/* add spacing from the left and right for all cards */
.card {
    margin: 1em;
}

/* -------------- */

/* NAV STYLING */

/* -------------- */

/* remove text decoration for items */
*{
    text-decoration: none;
}

/* resize logo */
.logo img{
    height: 51px;
}

/* add padding to whole nav */
.main-nav{
    padding-right: 15px;
    padding-left: 15px;
}

/* display flex to nav container items and center */
.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

/* removing styling to li and place inline */
li{
    list-style: none; 
    display: inline-block;
}

/* styling for words in nav*/
li a{
    color: var(--colorH2);
    margin-right: 1em;
    transition: color 0.3s;
    font-weight: 600;
}

/* remove icon for hamburger menu */
.burger{
    display: none;
}

/* hover styling for nav items */
li a:hover {
    color: var(--color4);
}

/* display hamburger icon for mobile layout */
@media(max-width: 600px) {
    .burger{
        display: block;
    }
    .not-burger {
        display: none;
    }
}

/* --------------------------- */

/* DOWNLOAD THE APP NOW SECTION*/

/* ----------------------------- */

/* hiding the website download section */
.desktop-download {
    display: none;
}

/* download the app now section */
.mobile-download {
    background-color: var(--colorH2);
    padding-top: 6em;
    padding-bottom: 6em;
    margin-top: 4em;
}

/* change font color */
.mobile-download h2 {
    color: var(--color2);
}

.mobile-download h4 {
    color: var(--color6);
}

/* styling buttons for buynow and tryfree */
.buynow{
    font-size: 16px;
    font-weight: bold;
    color: var(--color2);
    background-color: transparent;
    border-color: var(--color2);
    border-radius: 10px;
    width: 125px;
    height: 64px;
    border-style: solid;
    margin-right: 10px;
}

.tryfree {
    font-size: 16px;
    font-weight: bold;
    color: var(--color2);
    background-color: transparent;
    border-color: var(--color2);
    border-radius: 10px;
    width: 170px;
    height: 64px;
    border-style: solid;
}

/* display buttons side by side */
.buynow,.tryfree {
    display: inline-block;
    vertical-align: top;
}

/* button hover effect */
.buynow:hover,.tryfree:hover {
    border: none;
    background-color: var(--color4);
    transition: border 0.3s;
    transition: background-color 0.3s;
}

/* ------------------- */

/* footer section */

/* ------------------- */

/* hide desktop footer */
.desktop-footer {
    display: none;
}

/* mobile footer styling */
.mobile-footer {
    padding: 2.5em;
}

/* ------------------- */

/* contact page */

/* ------------------- */

.contact-title {
    background-color: var(--color7);
    padding: 6em;
    margin-bottom: 3em;
}

.form-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-input input[type="text"],
.form-input input[type="email"],
.form-input textarea {
    width: 80%; 
    box-sizing: border-box; 
    padding: 10px;
    border-color: var(--color4); 
    border-style: solid;
    border-width: 2px;
}

/* Adjust the spacing between form elements */
.form-input label {
    margin-bottom: 1em;
}

/* button styling */
.form-input input[type="submit"]{
    font-size: 20px;
    color: var(--color4);
    background-color: transparent;
    border-color: var(--color4);
    border-radius: 10px;
    border-style: solid;
    font-family: "Montserrat", sans-serif;
}

.form-input input[type="submit"]:hover {
    color: var(--color2);
    background-color: var(--color4);
    transition: color 0.3s;
    transition: background-color 0.3s;
}

.contact-title h3{
    color: var(--color3);
    padding-bottom: 2em;
}

/* styling the horizontal line */
.contact-title hr{
    border-color: var(--color5);
    border-width: 1.5px;
    border-style: solid;
}

/* -------------- */

/* DESKTOP STYLES */

/* -------------- */

@media screen and (min-width:600px) {
    /* change background colour */
    .content {
        background-color: var(--color2);
    }

    /* add background image */
    .background {
        background-image: url(../images/background.png);
        background-position: center;
        background-size: cover;
        padding-bottom: 10em;
        height: auto;
    }
    
    /* food app fonts resizing for desktop, and spacing */
    h1 {
        font-size: 24px;
        color: var(--color8);
    }

    .foodapp h2 {
        font-size: 58px;
        color: var(--color2);
        margin-right: 2em;
        margin-left: 2em;
    }

    .foodapp h4 {
        color: var(--color8);
        font-size: 24px;
    }

    /* redesign buttons */
    .playstore, .appstore {
        background-color: transparent;
        border-color: var(--color2);
        color: var(--color2);
        width: 236px;
        height: 68px;
    }

    /* button hover effect */
    .playstore:hover, .appstore:hover {
        border: none;
    }

    /* reformat placement of buttons*/
    .playstore, .appstore {
        display: inline-block;
        margin-right: 1em;
    }

    /* translate first couple of images up */
    .appimages {
        transform: translateY(-200px);
        padding-bottom: 0;
    }

    /* move horizontal line about "how the app works" */
    .app-works {
        display: flex;
        flex-direction: column;
    }

    /* reformat horizontal line */
    .app-works hr {
        order: -1;
        width: 884px;
    }

    /* redesign "how the app works" */
    .app-works p {
        font-size: 44px;
        padding-top: 1em;
    }

    /* formatting cards */

    .cards-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    
    /* flex */
    .card {
        display: flex;
        margin: 1em;
        flex-direction: row;
    }

    .accountwords, .checkoutwords {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        width: 50%;
    }

    .accountphone, .checkoutphone {
        order: -1;
        width: 50%;
    }

    .accountwords h3, .checkoutwords h3 {
        padding-left: 0;
    }

    /* explore */
    .shoppingwords {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        width: 50%;
    }

    .shoppingphone {
        width: 50%;
    }

    .shoppingwords h3 {
        padding-left: 0;
    }

    .mobile-download {
        display: none;
    }

    .desktop-download{
        display: block;
    }

    .desktop-download h2, h4 {
        color: var(--color2);
    }

    .background-footer {
        background-image: url(../images/background-two.png);
        background-position: center;
        background-size: cover;
        padding: 10em;
        margin-top: 8em;
        height: auto;
    }

    .playstore-download {
        font-size: 16px;
        font-weight: bold;
        color: var(--color2);
        background-color: transparent;
        border-color: var(--color2);
        border-radius: 10px;
        width: 125px;
        height: 64px;
        border-style: solid;
        margin-right: 10px;
        margin-top: 1em;
    }

    .appstore-download{
        font-size: 16px;
        font-weight: bold;
        color: var(--color2);
        background-color: transparent;
        border-color: var(--color2);
        border-radius: 10px;
        width: 170px;
        height: 64px;
        border-style: solid;
        margin-top: 1em;
    }

    .playstore-download:hover,.appstore-download:hover {
        border: none;
        background-color: var(--color4);
        transition: border 0.3s;
        transition: background-color 0.3s;
    }

    .mobile-footer {
        display: none;
    }

    /* desktop footer styling */
    .desktop-footer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 2em;
    }
    
    .desktop-footer p {
        font-size: 12px;
    }

    .form-input input[type="text"],
    .form-input input[type="email"],
    .form-input textarea {
        width: 50%; 
}

/* end of media query */
}