/* -------------- */

/* MAIN WEBSITE STYLES */

/* -------------- */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

/* colour variables */
body {
    --color1: #000000;
    --color2: #ffffff;
    --color3: #737373;
    --colorH2: #252B42;
    --color4: #FA4A0C;
    --color5: #E4E4E4;
}

button {
    font-family: "Montserrat", sans-serif;
}

/* text styling */
body {
    text-align: center;
}

/* font for website */
html {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

/* font styling (sizing and colour) */
h1 {
    font-size: 16px;
    font-weight: bold;
    color: var(--color3);
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--colorH2);
}

h4 {
    font-size: 24px;
    font-weight: 500;
    color: var(--color3)
}

h1, h2, h3, h4, h5, p {
    margin: 0.2em 0 0.5em;
}

/* ------------------- */

/* BODY STYLING */

/* ------------------- */

/* add spacing in body */
body {
    line-height: 1.4;
   
}

/* button styling */
.playstore {
    font-size: 24px;
    font-weight: bold;
    color: var(--color2);
    background-color: var(--color4);
    border-style: unset;
    border-radius: 30px;
    width: 236px;
    height: 68px;
}

.appstore {
    font-size: 24px;
    font-weight: bold;
    color: var(--color4);
    background-color: var(--color2);
    border-color: var(--color4);
    border-radius: 30px;
    width: 236px;
    height: 68px;
    border-style: solid;
}

/* display buttons on top of each other */
.playstore,
.appstore {
    display: block;
    width: 200px;
    margin: 0.8em auto;
}

/* first couple of images styling */
.appimages {
    display: flex;
    justify-content: center;
    padding: 3em;
}

.phoneone {
    margin-right: -20px;
    z-index: 1;
    margin-bottom: 50px;
}

.phonetwo {
    top: 50px;
    margin-top: 50px;
}

/* how the app works */
.app-works p {
    font-size: 24px;
    font-weight: 600;
    color: var(--color1);
    padding-bottom: 2em;
}

.app-works hr {
    border-color: var(--color5);
    border-width: 1.5px;
    border-style: solid;
}

/* cards styling */
.card h3 {
    color: var(--color4);
    padding: 2em;
}

.card h4 {
    margin-top: 2em;
}

.card img {
    justify-content: center;
}

/* -------------- */

/* NAV STYLING */

/* -------------- */

/* remove text decoration for items */
*{
    text-decoration: none;
}

.logo img{
    height: 51px;
}

.main-nav{
    padding-right: 15px;
    padding-left: 15px;
}

.navdiv{
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}

li{
    list-style: none; 
    display: inline-block;
}

li a{
    margin-right: 2em;
}

.burger{
    display: none;
}



@media(max-width: 610px) {
    .burger{
        display: block;
    }
    .not-burger {
        display: none;
    }
}